@use "../../var";

div.Introduction {
  @include var.flex-container(column, center, center);
  padding: 0 0 2.5%;
  section.introductionTexts {
    position: relative;
    width: 100%;
    h5 {
      margin-top: 3rem;
      font-size: 1.25rem;
      color: var.$text-gray;
      text-align: center;
    }
    h2 {
      text-align: center;
      font-size: 3rem;
      font-weight: 800;
      margin-bottom: 3rem;
    }
    svg.introductionSvg {
      position: absolute;
      height: 100%;
      top: -2px;
      left: -1px;
    }
  }
  section.list {
    @include var.flex-container(column, center, center);
    article {
      @include var.flex-container(row, space-between, flex-start);
      position: relative;
      height: 200px;
      width: 100%;
      padding: 1.5% 22.5%;
      background-color: #ffffff;
      div {
        @include var.flex-container(column, center, flex-start);
        &.svgContainer {
          @include var.flex-container(row, flex-start, center);
          height: 150px;
          width: 150px;
          svg {
            height: 100%;
          }
        }
        &.dataContainer {
          width: calc(100% - 180px);
          h3 {
            color: var.$secondary-red;
            font-size: 2.25rem;
            font-weight: 600;
          }
        }
      }
      &:nth-child(odd) {
        background-color: var.$primary-blue;
        div {
          &.dataContainer {
            h3 {
              color: var.$accent-yellow;
            }
            p {
              color: var.$text-gray-light;
            }
          }
          &.svgContainer {
            svg {
              path {
                fill: var.$text-white;
              }
            }
          }
        }
      }
      &:nth-child(even) {
        div {
          &.svgContainer {
            justify-content: flex-end;
          }
        }
      }
      svg.decorationSvg {
        position: absolute;
        height: 100%;
        right: -1px;
        top: -2px;
      }
    }
  }
}
