@use "./var";
@use "./Components/Navbar/Navbar";
@use "./Pages/Home/Home";
@use "./Components/Footer/Footer";
@use "./Pages/About/About";
@use "./Components/Nosotros/Nosotros";
@use "./Components/ScrollButton/ScrollButton";
@use "./Components/Introduction/Introduction";

@import url("https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Moderustic:wght@300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Anuphan", sans-serif;
  color: var.$text-black;
  html,
  html body {
    overscroll-behavior: none;
    scroll-behavior: smooth;
  }
}

div.App {
  background-color: var.$background-white;
  min-height: 100vh;
  position: relative;
}